In [101]:
import pandas as pd
import nameparser
import json
import requests
import numpy as np

In [102]:
pro_publica_api_key = "PguHImFJakafbsBpZ2ed21A1HIgvXKiM7tg0BqI0 "
headers = {'X-API-Key': pro_publica_api_key}

In [103]:
trans = pd.read_csv('../data/transactions_20231018.csv')
trans['disclosure_date'] = pd.to_datetime(trans['disclosure_date'], errors='coerce')
trans['transaction_date'] = pd.to_datetime(trans['transaction_date'],errors='coerce')
trans['member'] = trans['member'].str.lower()
trans['parsed_name'] = trans['member'].apply(lambda x: nameparser.HumanName(x))
trans['first_name'] = trans['parsed_name'].apply(lambda x: x.first)
trans['last_name'] = trans['parsed_name'].apply(lambda x: x.last)
trans['string_name'] = trans['first_name'] + ' ' + trans['last_name']

trans

,disclosure_date,transaction_date,owner,ticker,asset_description,type,amount,member,district,state,...,sector,party,asset_type,comment,member_type,amount_formatted,parsed_name,first_name,last_name,string_name
0,2021-10-04,2021-09-27,joint,BP,BP plc,purchase,"$1,001 - $15,000",virginia foxx,NC05,NC,...,Energy,Republican,NaN,NaN,representative,1000.0,virginia foxx,virginia,foxx,virginia foxx
1,2021-10-04,2021-09-13,joint,XOM,Exxon Mobil Corporation,purchase,"$1,001 - $15,000",virginia foxx,NC05,NC,...,Energy,Republican,NaN,NaN,representative,1000.0,virginia foxx,virginia,foxx,virginia foxx
2,2021-10-04,2021-09-10,joint,ILPT,Industrial Logistics Properties Trust - Common...,purchase,"$15,001 - $50,000",virginia foxx,NC05,NC,...,Real Estate,Republican,NaN,NaN,representative,15000.0,virginia foxx,virginia,foxx,virginia foxx
3,2021-10-04,2021-09-28,joint,PM,Phillip Morris International Inc,purchase,"$15,001 - $50,000",virginia foxx,NC05,NC,...,Consumer Non-Durables,Republican,NaN,NaN,representative,15000.0,virginia foxx,virginia,foxx,virginia foxx
4,2021-10-04,2021-09-17,self,BLK,BlackRock Inc,sale_partial,"$1,001 - $15,000",alan s. lowenthal,CA47,CA,...,Finance,Democrat,NaN,NaN,representative,1000.0,alan s. lowenthal,alan,lowenthal,alan lowenthal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24136,2012-08-17,NaT,NaN,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,sheldon whitehouse,NaN,NaN,...,NaN,NaN,PDF Disclosed Filing,NaN,senator,NaN,sheldon whitehouse,sheldon,whitehouse,sheldon whitehouse
24137,2012-08-16,NaT,NaN,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,pat roberts,NaN,NaN,...,NaN,NaN,PDF Disclosed Filing,NaN,senator,NaN,pat roberts,pat,roberts,pat roberts
24138,2012-08-15,NaT,NaN,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,rob portman,NaN,NaN,...,NaN,NaN,PDF Disclosed Filing,NaN,senator,NaN,rob portman,rob,portman,rob portman
24139,2012-08-02,NaT,NaN,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,thomas r. carper,NaN,NaN,...,NaN,NaN,PDF Disclosed Filing,NaN,senator,NaN,thomas r. carper,thomas,carper,thomas carper
24140,2012-07-25,NaT,NaN,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,benjamin l cardin,NaN,NaN,...,NaN,NaN,PDF Disclosed Filing,NaN,senator,NaN,benjamin l cardin,benjamin,cardin,benjamin cardin

In [104]:
indices_steube = np.where(trans['string_name'].str.contains('steube'))[0]
for idx in indices_steube:
    trans.at[idx, 'first_name'] = 'greg'

indices_bill = np.where(trans['string_name'].str.contains('william keating'))[0]
for idx in indices_bill:
    trans.at[idx, 'first_name'] = 'bill'

indices_jackson = np.where(trans['string_name'].str.contains('jeff jackson'))[0]
for idx in indices_jackson:
    trans.at[idx, 'first_name'] = 'jeffrey'

indices_flei = np.where(trans['string_name'].str.contains('charles fleischman'))[0]
for idx in indices_flei:
    trans.at[idx, 'first_name'] = 'chuck'

indices = np.where(trans['string_name'].str.contains('david joyce'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'dave'

indices = np.where(trans['string_name'].str.contains('patrick fallon'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'pat'

indices = np.where(trans['string_name'].str.contains('david cawthorn'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'madison'

indices = np.where(trans['string_name'].str.contains('james langevin'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'jim'

indices = np.where(trans['string_name'].str.contains('richard allen'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'rick'

indices = np.where(trans['string_name'].str.contains('bradley schneider'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'brad'

indices = np.where(trans['string_name'].str.contains('aston mceachin'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'a.'

indices = np.where(trans['string_name'].str.contains('david roe'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'phil'

indices = np.where(trans['string_name'].str.contains('lacy clay'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'william'

indices = np.where(trans['string_name'].str.contains('steve chabot'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'steven'

indices = np.where(trans['string_name'].str.contains('joseph morelle'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'joe'

indices = np.where(trans['string_name'].str.contains('linda sanchez'))[0]
for idx in indices:
    trans.at[idx, 'last_name'] = 'sánchez'
trans['string_name'] = trans['first_name'] + ' ' + trans['last_name']

indices = np.where(trans['string_name'].str.contains('bradley schneider'))[0]
for idx in indices:
    trans.at[idx, 'first_name'] = 'brad'

In [105]:
trans_117 = trans[(trans['transaction_date'] < '2023-01-03') & (trans['transaction_date']  >= '2021-01-03')]
trans_116 = trans[(trans['transaction_date'] < '2021-01-03')]
trans_118 = trans[(trans['transaction_date'] > '2023-01-03')]

In [106]:
first = {len(trans_116['string_name'].unique())}
second = {len(trans_117['string_name'].unique())}
three = {len(trans_118['string_name'].unique())}

print(f'116 member count {first}' )
print(f'117 member count {second}' )
print(f'118 member count {three}' )

116 member count {118}
117 member count {126}
118 member count {51}

In [95]:
"""JOIN 116th congresses data"""

senate_url = f"https://api.propublica.org/congress/v1/116/senate/members.json"
house_url = f"https://api.propublica.org/congress/v1/116/house/members.json"

senate_116 = requests.get(senate_url, headers=headers)
house_116 = requests.get(house_url, headers=headers)
senate_116_members = senate_116.json()['results'][0]['members']
house_116_members = house_116.json()['results'][0]['members']
senate_116_members = pd.DataFrame(senate_116_members)
house_116_members = pd.DataFrame(house_116_members)
senate_116_members = senate_116_members[['short_title', 'first_name', 'middle_name', 'last_name','party','id']]
house_116_members = house_116_members[['short_title', 'first_name', 'middle_name', 'last_name','party','id']]

members_116 = pd.concat([senate_116_members, house_116_members])
members_116['display_name'] = members_116['short_title'] + ' ' + members_116['first_name']  + ' ' + members_116['last_name']
members_116['member'] = members_116['first_name'] + ' ' + members_116['last_name']
members_116['member'] = members_116['member'].str.lower()
members_116['parsed_name'] = members_116['member'].apply(lambda x: nameparser.HumanName(x))
members_116['first_name'] = members_116['parsed_name'].apply(lambda x: x.first)
members_116['last_name'] = members_116['parsed_name'].apply(lambda x: x.last)
members_116['string_name'] = members_116['first_name'] + ' ' + members_116['last_name']

trans_names_116 = trans_116['string_name'].unique()

members_116 = members_116[members_116['string_name'].isin(trans_names_116)]

trans_116 = trans_116.merge(members_116, how='left', on='string_name')[['display_name',
                                                                        'string_name',
                                                                        'transaction_date',
                                                                        'disclosure_date',
                                                                        'ticker',
                                                                        'asset_description',
                                                                        'type',
                                                                        'amount',
                                                                        'industry',
                                                                        'sector',
                                                                        'state',
                                                                        'party_x',
                                                                        'amount_formatted',
                                                                        'id'
                                                                        ]]

member_id_list = members_116['id'].unique()
committee_df = []
subcommittee_df = []

for member_id in member_id_list:
    member_url = f"https://api.propublica.org/congress/v1/members/{member_id}.json"
    r = requests.get(member_url, headers=headers)

    member_committies_name = []
    member_committies_code = []

    member_subcommitties_name = []
    member_subcommitties_code = []
    member_subcommittee_parent_id = []

    member_roles = r.json()['results'][0]['roles']
    for role in member_roles:
        if role['congress'] == '116':
            for committee in role['committees']:
                member_committies_name.append(committee['name'])
                member_committies_code.append(committee['code'])

            for subcommittee in role['subcommittees']:
                member_subcommitties_name.append(subcommittee['name'])
                member_subcommitties_code.append(subcommittee['code'])
                member_subcommittee_parent_id.append(subcommittee['parent_committee_id'])

        member_committies=pd.DataFrame({'name': member_committies_name,
                                        'code': member_committies_code})

        member_subcommitties = pd.DataFrame({'name': member_subcommitties_name,
                                             'code': member_subcommitties_code,
                                             'parent_committee_id': member_subcommittee_parent_id})

        member_committies['member_id'] = member_id
        member_subcommitties['member_id'] = member_id
        committee_df.append(member_committies)
        subcommittee_df.append(member_subcommitties)


committee_df = pd.concat(committee_df)
subcommittee_df = pd.concat(subcommittee_df)
committee_df = committee_df[['member_id' ,'code']]
committee_df_116 = pd.get_dummies(committee_df, columns=['code'], prefix='', prefix_sep='').groupby(['member_id']).sum().reset_index()
subcommittee_df = subcommittee_df[['code', 'member_id']]
subcommittee_df_116 = pd.get_dummies(subcommittee_df, columns=['code'], prefix='', prefix_sep='').groupby(['member_id']).sum().reset_index()


columns_to_drop = ['short_title', 'first_name', 'middle_name', 'last_name','party', 'parsed_name', 'member', 'display_name', 'parsed_name', 'string_name', 'member_id_x']
assignments_116 = members_116.merge(committee_df_116, left_on='id', right_on='member_id', how = 'left').merge(subcommittee_df_116, left_on='id', right_on='member_id', how = 'left').drop(columns=columns_to_drop)

final_116 = trans_116.merge(assignments_116, how='left', on='id').drop('member_id_y', axis=1)

In [96]:
final_116

,display_name,string_name,transaction_date,disclosure_date,ticker,asset_description,type,amount,industry,sector,...,HSVR08,HSVR09,HSVR10,HSVR11,HSWM01,HSWM02,HSWM03,HSWM04,HSWM05,HSWM06
0,Rep. Susie Lee,susie lee,2020-02-24,2020-04-28,BHC,Bausch Health Companies Inc.,purchase,"$1,001 - $15,000",Pharmaceuticals and Biotechnology,Health Care,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rep. Susie Lee,susie lee,2020-03-06,2020-04-28,BAH,Booz Allen Hamilton Holding Corporation,sale_full,"$1,001 - $15,000",Professional Services,Consumer Services,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Rep. Susie Lee,susie lee,2020-03-23,2020-04-28,BYD,Boyd Gaming Corporation,sale_full,"$1,001 - $15,000",Movies/Entertainment,Consumer Discretionary,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Rep. Susie Lee,susie lee,2020-02-04,2020-04-28,CTLT,"Catalent, Inc.",purchase,"$1,001 - $15,000",Biotechnology: Pharmaceutical Preparations,Health Care,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Rep. Susie Lee,susie lee,2020-03-18,2020-04-28,CBRE,CBRE Group Inc Common Stock Class A,sale_partial,"$1,001 - $15,000",Real Estate,Finance,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7435,Rep. Ed Perlmutter,ed perlmutter,2020-04-09,2020-06-10,SWK,"Stanley Black & Decker, Inc.",sale_partial,"$1,001 - $15,000",Diversified Manufacture,Consumer Discretionary,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7436,Rep. Ed Perlmutter,ed perlmutter,2020-04-09,2020-06-10,USB,U.S. Bancorp,sale_partial,"$1,001 - $15,000",Major Banks,Finance,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7437,Rep. Van Taylor,van taylor,2020-03-13,2020-06-10,BMY,Bristol-Myers Squibb Company,sale_full,"$100,001 - $250,000",Major Pharmaceuticals,Health Care,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7438,Rep. Van Taylor,van taylor,2020-03-13,2020-06-10,LLY,Eli Lilly and Company,sale_full,"$500,001 - $1,000,000",Major Pharmaceuticals,Health Care,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7439,Rep. Van Taylor,van taylor,2020-03-13,2020-06-10,DIS,Walt Disney Company,sale_full,"$250,001 - $500,000",Services-Misc. Amusement & Recreation,Consumer Services,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
committee_df_116.shape, subcommittee_df_116.shape

((113, 24), (109, 98))

In [107]:
"""JOIN 117th congresses data"""

senate_url = f"https://api.propublica.org/congress/v1/117/senate/members.json"
house_url = f"https://api.propublica.org/congress/v1/117/house/members.json"

senate_117 = requests.get(senate_url, headers=headers)
house_117 = requests.get(house_url, headers=headers)
senate_117_members = senate_117.json()['results'][0]['members']
house_117_members = house_117.json()['results'][0]['members']
senate_117_members = pd.DataFrame(senate_117_members)
house_117_members = pd.DataFrame(house_117_members)
senate_117_members = senate_117_members[['short_title', 'first_name', 'middle_name', 'last_name','party','id']]
house_117_members = house_117_members[['short_title', 'first_name', 'middle_name', 'last_name','party','id']]

members_117 = pd.concat([senate_117_members, house_117_members])
members_117['display_name'] = members_117['short_title'] + ' ' + members_117['first_name']  + ' ' + members_117['last_name']
members_117['member'] = members_117['first_name'] + ' ' + members_117['last_name']
members_117['member'] = members_117['member'].str.lower()
members_117['parsed_name'] = members_117['member'].apply(lambda x: nameparser.HumanName(x))
members_117['first_name'] = members_117['parsed_name'].apply(lambda x: x.first)
members_117['last_name'] = members_117['parsed_name'].apply(lambda x: x.last)
members_117['string_name'] = members_117['first_name'] + ' ' + members_117['last_name']

trans_names_117 = trans_117['string_name'].unique()

members_117 = members_117[members_117['string_name'].isin(trans_names_117)]

trans_117 = trans_117.merge(members_117, how='left', on='string_name')[['display_name',
                                                                        'string_name',
                                                                        'transaction_date',
                                                                        'disclosure_date',
                                                                        'ticker',
                                                                        'asset_description',
                                                                        'type',
                                                                        'amount',
                                                                        'industry',
                                                                        'sector',
                                                                        'state',
                                                                        'party_x',
                                                                        'amount_formatted',
                                                                        'id'
                                                                        ]]




members_117

,short_title,first_name,middle_name,last_name,party,id,display_name,member,parsed_name,string_name
1,Rep.,robert,B.,aderholt,R,A000055,Rep. Robert Aderholt,robert aderholt,robert aderholt,robert aderholt
3,Rep.,rick,None,allen,R,A000372,Rep. Rick Allen,rick allen,rick allen,rick allen
9,Rep.,cynthia,None,axne,D,A000378,Rep. Cynthia Axne,cynthia axne,cynthia axne,cynthia axne
14,Rep.,jim,None,banks,R,B001299,Rep. Jim Banks,jim banks,jim banks,jim banks
19,Rep.,cliff,None,bentz,R,B000668,Rep. Cliff Bentz,cliff bentz,cliff bentz,cliff bentz
...,...,...,...,...,...,...,...,...,...,...
433,Rep.,michael,None,waltz,R,W000823,Rep. Michael Waltz,michael waltz,michael waltz,michael waltz
434,Rep.,debbie,None,schultz,D,W000797,Rep. Debbie Wasserman Schultz,debbie wasserman schultz,debbie wasserman schultz,debbie schultz
439,Rep.,peter,None,welch,D,W000800,Rep. Peter Welch,peter welch,peter welch,peter welch
448,Rep.,robert,J.,wittman,R,W000804,Rep. Robert Wittman,robert wittman,robert wittman,robert wittman
452,Rep.,john,None,yarmuth,D,Y000062,Rep. John Yarmuth,john yarmuth,john yarmuth,john yarmuth

In [170]:
member_id_list_117 = members_117['id'].unique()
committee_df = []
subcommittee_df = []
for member_id in member_id_list_117:
    url = f"https://api.propublica.org/congress/v1/members/{member_id}.json"
    r = requests.get(url, headers=headers)
    roles = r.json()['results'][0]['roles']
    member_committies_name = []
    member_committies_code = []

    member_subcommitties_name = []
    member_subcommitties_code = []
    member_subcommittee_parent_id = []
    for role in roles:
        if role['congress'] == '117':
            for committee in role['committees']:
                member_committies_name.append(committee['name'])
                member_committies_code.append(committee['code'])

            for subcommittee in role['subcommittees']:
                member_subcommitties_name.append(subcommittee['name'])
                member_subcommitties_code.append(subcommittee['code'])
                member_subcommittee_parent_id.append(subcommittee['parent_committee_id'])

    member_committies=pd.DataFrame({'name': member_committies_name,
                                        'code': member_committies_code})

    member_subcommitties = pd.DataFrame({'name': member_subcommitties_name,
                                             'code': member_subcommitties_code,
                                             'parent_committee_id': member_subcommittee_parent_id})

    member_committies['member_id'] = member_id
    member_subcommitties['member_id'] = member_id
    committee_df.append(member_committies)
    subcommittee_df.append(member_subcommitties)

committee_df = pd.concat(committee_df)
subcommittee_df = pd.concat(subcommittee_df)

committee_df = committee_df[['member_id' ,'code']]
committee_df_117 = pd.get_dummies(committee_df, columns=['code'], prefix='', prefix_sep='').groupby(['member_id']).sum().reset_index()
subcommittee_df = subcommittee_df[['code', 'member_id']]
subcommittee_df_117 = pd.get_dummies(subcommittee_df, columns=['code'], prefix='', prefix_sep='').groupby(['member_id']).sum().reset_index()


columns_to_drop = ['short_title', 'first_name', 'middle_name', 'last_name','party', 'parsed_name', 'member', 'display_name', 'parsed_name', 'string_name', 'member_id_x']
assignments_117 = members_116.merge(committee_df_116, left_on='id', right_on='member_id', how = 'left').merge(subcommittee_df_117, left_on='id', right_on='member_id', how = 'left').drop(columns=columns_to_drop)

final_117 = trans_117.merge(assignments_117, how='left', on='id').drop('member_id_y', axis=1)

In [171]:
final_117

,display_name,string_name,transaction_date,disclosure_date,ticker,asset_description,type,amount,industry,sector,...,HSII,HSJU,HSMH,HSPW,HSRU,HSSM,HSSO,HSSY,HSVR,HSWM
0,Rep. Virginia Foxx,virginia foxx,2021-09-27,2021-10-04,BP,BP plc,purchase,"$1,001 - $15,000",Integrated oil Companies,Energy,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rep. Virginia Foxx,virginia foxx,2021-09-13,2021-10-04,XOM,Exxon Mobil Corporation,purchase,"$1,001 - $15,000",Integrated oil Companies,Energy,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Rep. Virginia Foxx,virginia foxx,2021-09-10,2021-10-04,ILPT,Industrial Logistics Properties Trust - Common...,purchase,"$15,001 - $50,000",Real Estate Investment Trusts,Real Estate,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Rep. Virginia Foxx,virginia foxx,2021-09-28,2021-10-04,PM,Phillip Morris International Inc,purchase,"$15,001 - $50,000",Farming/Seeds/Milling,Consumer Non-Durables,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Rep. Alan Lowenthal,alan lowenthal,2021-09-17,2021-10-04,BLK,BlackRock Inc,sale_partial,"$1,001 - $15,000",Investment Bankers/Brokers/Service,Finance,...,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7652,Rep. John Rutherford,john rutherford,2022-02-17,2022-03-16,TM,Toyota Motor Company,sale_partial,"$1,001 - $15,000",Auto Manufacturing,Capital Goods,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7653,Rep. John Rutherford,john rutherford,2022-02-17,2022-03-16,USB,US Bancorp,sale_full,"$1,001 - $15,000",Major Banks,Finance,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7654,Rep. John Rutherford,john rutherford,2022-02-17,2022-03-16,UGI,UGI Corporation,purchase,"$1,001 - $15,000",Natural Gas Distribution,Utilities,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7655,Rep. John Rutherford,john rutherford,2022-02-17,2022-03-16,VALE,VALE S.A. ADR Shares each representing one com...,sale_partial,"$1,001 - $15,000",Metal Mining,Basic Materials,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7656,Rep. John Rutherford,john rutherford,2022-02-17,2022-03-16,XYIGY,Xinyi Glass Holdings Limited Unsponsored ADR,purchase,"$1,001 - $15,000",NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [172]:
committee_df_117.shape, subcommittee_df_117.shape

((118, 24), (0, 1))

In [173]:
"""JOIN 116th congresses data"""

senate_url = f"https://api.propublica.org/congress/v1/118/senate/members.json"
house_url = f"https://api.propublica.org/congress/v1/118/house/members.json"

senate_118 = requests.get(senate_url, headers=headers)
house_118 = requests.get(house_url, headers=headers)
senate_118_members = senate_118.json()['results'][0]['members']
house_118_members = house_118.json()['results'][0]['members']
senate_118_members = pd.DataFrame(senate_118_members)
house_118_members = pd.DataFrame(house_118_members)
senate_118_members = senate_118_members[['short_title', 'first_name', 'middle_name', 'last_name','party','id']]
house_118_members = house_118_members[['short_title', 'first_name', 'middle_name', 'last_name','party','id']]

members_118 = pd.concat([senate_118_members, house_118_members])
members_118['display_name'] = members_118['short_title'] + ' ' + members_118['first_name']  + ' ' + members_118['last_name']
members_118['member'] = members_118['first_name'] + ' ' + members_118['last_name']
members_118['member'] = members_118['member'].str.lower()
members_118['parsed_name'] = members_118['member'].apply(lambda x: nameparser.HumanName(x))
members_118['first_name'] = members_118['parsed_name'].apply(lambda x: x.first)
members_118['last_name'] = members_118['parsed_name'].apply(lambda x: x.last)
members_118['string_name'] = members_118['first_name'] + ' ' + members_118['last_name']

trans_names_118 = trans_118['string_name'].unique()

members_118 = members_118[members_118['string_name'].isin(trans_names_118)]

trans_118 = trans_118.merge(members_118, how='left', on='string_name')[['display_name',
                                                                        'string_name',
                                                                        'transaction_date',
                                                                        'disclosure_date',
                                                                        'ticker',
                                                                        'asset_description',
                                                                        'type',
                                                                        'amount',
                                                                        'industry',
                                                                        'sector',
                                                                        'state',
                                                                        'party_x',
                                                                        'amount_formatted',
                                                                        'id'
                                                                        ]]

member_id_list = members_118['id'].unique()
committee_df = []
subcommittee_df = []

for member_id in member_id_list:
    member_url = f"https://api.propublica.org/congress/v1/members/{member_id}.json"
    r = requests.get(member_url, headers=headers)

    member_committies_name = []
    member_committies_code = []

    member_subcommitties_name = []
    member_subcommitties_code = []
    member_subcommittee_parent_id = []

    member_roles = r.json()['results'][0]['roles']
    for role in member_roles:
        if role['congress'] == '118':
            for committee in role['committees']:
                member_committies_name.append(committee['name'])
                member_committies_code.append(committee['code'])

            for subcommittee in role['subcommittees']:
                member_subcommitties_name.append(subcommittee['name'])
                member_subcommitties_code.append(subcommittee['code'])
                member_subcommittee_parent_id.append(subcommittee['parent_committee_id'])

        member_committies=pd.DataFrame({'name': member_committies_name,
                                        'code': member_committies_code})

        member_subcommitties = pd.DataFrame({'name': member_subcommitties_name,
                                             'code': member_subcommitties_code,
                                             'parent_committee_id': member_subcommittee_parent_id})

        member_committies['member_id'] = member_id
        member_subcommitties['member_id'] = member_id
        committee_df.append(member_committies)
        subcommittee_df.append(member_subcommitties)


committee_df = pd.concat(committee_df)
subcommittee_df = pd.concat(subcommittee_df)
committee_df = committee_df[['member_id' ,'code']]
committee_df_118 = pd.get_dummies(committee_df, columns=['code'], prefix='', prefix_sep='').groupby(['member_id']).sum().reset_index()
subcommittee_df = subcommittee_df[['code', 'member_id']]
subcommittee_df_118 = pd.get_dummies(subcommittee_df, columns=['code'], prefix='', prefix_sep='').groupby(['member_id']).sum().reset_index()


columns_to_drop = ['short_title', 'first_name', 'middle_name', 'last_name','party', 'parsed_name', 'member', 'display_name', 'parsed_name', 'string_name', 'member_id_x']
assignments_118 = members_118.merge(committee_df_118, left_on='id', right_on='member_id', how = 'left').merge(subcommittee_df_118, left_on='id', right_on='member_id', how = 'left').drop(columns=columns_to_drop)

final_118 = trans_118.merge(assignments_118, how='left', on='id').drop('member_id_y', axis=1)

In [174]:
final_118

,display_name,string_name,transaction_date,disclosure_date,ticker,asset_description,type,amount,industry,sector,...,HSSY20,HSSY21,HSVR09,HSVR10,HSWM01,HSWM02,HSWM03,HSWM04,HSWM05,HSWM06
0,Rep. Dan Crenshaw,dan crenshaw,2023-03-20,2023-04-20,SPY,SPDR S7P 500,purchase,"$1,001 - $15,000",NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rep. Josh Gottheimer,josh gottheimer,2023-03-06,2023-04-20,ABBV,AbbVie Inc,purchase,"$1,001 - $15,000",Major Pharmaceuticals,Health Care,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Rep. Josh Gottheimer,josh gottheimer,2023-03-24,2023-04-20,ABBV,AbbVie Inc,sale_partial,"$1,001 - $15,000",Major Pharmaceuticals,Health Care,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Rep. Josh Gottheimer,josh gottheimer,2023-03-06,2023-04-20,ALGN,Align Technology Inc,purchase,"$1,001 - $15,000",Industrial Specialties,Health Care,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Rep. Josh Gottheimer,josh gottheimer,2023-03-06,2023-04-20,GOOG,Alphabet Inc - Class C Capital Stock,sale_partial,"$1,001 - $15,000","Computer Software: Programming, Data Processing",Technology,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,Rep. Lois Frankel,lois frankel,2023-04-05,2023-04-28,CI,The Cigna Group,purchase,"$1,001 - $15,000",Medical Specialities,Health Care,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
589,Rep. Lois Frankel,lois frankel,2023-03-16,2023-04-28,ULTA,Ulta Beauty inc,sale_partial,"$1,001 - $15,000",NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
590,Rep. Earl Blumenauer,earl blumenauer,2023-02-15,2023-03-09,NWN,Northwest Natural Holding Company,purchase,"$1,001 - $15,000",Oil/Gas Transmission,Public Utilities,...,0.0,0.0,0.0,0.0,0.0,15.0,0.0,15.0,0.0,0.0
591,Rep. Dwight Evans,dwight evans,2023-02-28,2023-03-09,CSX,CSX Corporation,sale_full,"$1,001 - $15,000",Railroads,Transportation,...,0.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0
592,Rep. Dwight Evans,dwight evans,2023-02-28,2023-03-09,CRM,Salesforce Inc,sale_full,"$1,001 - $15,000",Computer Software: Prepackaged Software,Technology,...,0.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0

In [175]:
committee_df_118.shape, subcommittee_df_118.shape

((47, 26), (47, 82))

In [176]:
len(members_118)

48

In [178]:
final_116.shape, final_117.shape, final_118.shape

((7440, 134), (7657, 37), (593, 120))

In [179]:
stacked_df = pd.concat([final_116, final_117, final_118], axis=0, ignore_index=True, sort=False)
stacked_df

,display_name,string_name,transaction_date,disclosure_date,ticker,asset_description,type,amount,industry,sector,...,HSFA06,HSGO12,HSGO27,HSIG01,HSIG02,HSIG04,HSRU02,HSRU04,HSSM21,HSSM22
0,Rep. Susie Lee,susie lee,2020-02-24,2020-04-28,BHC,Bausch Health Companies Inc.,purchase,"$1,001 - $15,000",Pharmaceuticals and Biotechnology,Health Care,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rep. Susie Lee,susie lee,2020-03-06,2020-04-28,BAH,Booz Allen Hamilton Holding Corporation,sale_full,"$1,001 - $15,000",Professional Services,Consumer Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rep. Susie Lee,susie lee,2020-03-23,2020-04-28,BYD,Boyd Gaming Corporation,sale_full,"$1,001 - $15,000",Movies/Entertainment,Consumer Discretionary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rep. Susie Lee,susie lee,2020-02-04,2020-04-28,CTLT,"Catalent, Inc.",purchase,"$1,001 - $15,000",Biotechnology: Pharmaceutical Preparations,Health Care,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rep. Susie Lee,susie lee,2020-03-18,2020-04-28,CBRE,CBRE Group Inc Common Stock Class A,sale_partial,"$1,001 - $15,000",Real Estate,Finance,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15685,Rep. Lois Frankel,lois frankel,2023-04-05,2023-04-28,CI,The Cigna Group,purchase,"$1,001 - $15,000",Medical Specialities,Health Care,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15686,Rep. Lois Frankel,lois frankel,2023-03-16,2023-04-28,ULTA,Ulta Beauty inc,sale_partial,"$1,001 - $15,000",NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15687,Rep. Earl Blumenauer,earl blumenauer,2023-02-15,2023-03-09,NWN,Northwest Natural Holding Company,purchase,"$1,001 - $15,000",Oil/Gas Transmission,Public Utilities,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15688,Rep. Dwight Evans,dwight evans,2023-02-28,2023-03-09,CSX,CSX Corporation,sale_full,"$1,001 - $15,000",Railroads,Transportation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15689,Rep. Dwight Evans,dwight evans,2023-02-28,2023-03-09,CRM,Salesforce Inc,sale_full,"$1,001 - $15,000",Computer Software: Prepackaged Software,Technology,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [180]:
trans_116['congress'] = 116

,disclosure_date,transaction_date,owner,ticker,asset_description,type,amount,member,district,state,...,sector,party,asset_type,comment,member_type,amount_formatted,parsed_name,first_name,last_name,string_name
68,2020-04-28,2020-02-24,joint,BHC,Bausch Health Companies Inc.,purchase,"$1,001 - $15,000",susie lee,NV03,NV,...,Health Care,Democrat,NaN,NaN,representative,1000.0,susie lee,susie,lee,susie lee
69,2020-04-28,2020-03-06,joint,BAH,Booz Allen Hamilton Holding Corporation,sale_full,"$1,001 - $15,000",susie lee,NV03,NV,...,Consumer Services,Democrat,NaN,NaN,representative,1000.0,susie lee,susie,lee,susie lee
70,2020-04-28,2020-03-23,joint,BYD,Boyd Gaming Corporation,sale_full,"$1,001 - $15,000",susie lee,NV03,NV,...,Consumer Discretionary,Democrat,NaN,NaN,representative,1000.0,susie lee,susie,lee,susie lee
71,2020-04-28,2020-02-04,joint,CTLT,"Catalent, Inc.",purchase,"$1,001 - $15,000",susie lee,NV03,NV,...,Health Care,Democrat,NaN,NaN,representative,1000.0,susie lee,susie,lee,susie lee
72,2020-04-28,2020-03-18,joint,CBRE,CBRE Group Inc Common Stock Class A,sale_partial,"$1,001 - $15,000",susie lee,NV03,NV,...,Finance,Democrat,NaN,NaN,representative,1000.0,susie lee,susie,lee,susie lee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15690,2020-06-10,2020-04-09,--,SWK,"Stanley Black & Decker, Inc.",sale_partial,"$1,001 - $15,000",ed perlmutter,CO07,CO,...,Consumer Discretionary,Democrat,NaN,NaN,representative,1000.0,ed perlmutter,ed,perlmutter,ed perlmutter
15691,2020-06-10,2020-04-09,--,USB,U.S. Bancorp,sale_partial,"$1,001 - $15,000",ed perlmutter,CO07,CO,...,Finance,Democrat,NaN,NaN,representative,1000.0,ed perlmutter,ed,perlmutter,ed perlmutter
15692,2020-06-10,2020-03-13,NaN,BMY,Bristol-Myers Squibb Company,sale_full,"$100,001 - $250,000",van taylor,TX03,TX,...,Health Care,Republican,NaN,NaN,representative,100000.0,van taylor,van,taylor,van taylor
15693,2020-06-10,2020-03-13,NaN,LLY,Eli Lilly and Company,sale_full,"$500,001 - $1,000,000",van taylor,TX03,TX,...,Health Care,Republican,NaN,NaN,representative,500000.0,van taylor,van,taylor,van taylor
15694,2020-06-10,2020-03-13,NaN,DIS,Walt Disney Company,sale_full,"$250,001 - $500,000",van taylor,TX03,TX,...,Consumer Services,Republican,NaN,NaN,representative,250000.0,van taylor,van,taylor,van taylor